<%- include("templates/cabecera", {tituloweb:'Crear nueva Cita'}) %>
    .<div class="container">


        <div class="mask d-flex align-items-center h-100" size="5">


            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-md-8">
                        <form class="bg-white  rounded-5 shadow-5-strong p-5" action="/citas/citas" method="POST">
                            <h1>Crear</h1>
                            <input type="text" placeholder="Agregar nombre" class="form-control my-2" name="nombre" required>
                            <input type="text" placeholder="Agregar apellido" class="form-control my-2" name="apellido"required>
                            <input type="date" placeholder="Agregar fecha" class="form-control my-2" name="fecha" required>
                            <input type="time" placeholder="Agregar fecha" class="form-control my-2" name="hora" required>

                            <button class="btn btn-success btn-block" type="submit">Agregar</button>
                            <a href="/home" class="btn btn-success btn-block my-4">Volver</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

<%- include("templates/footer") %>